<div style="width: 90%; margin: 0 auto;">
    <div class="card shadow p-5 lg-8 card-gradient rounded textData" style="margin: 20px;">
        <div class="col-sm-12">
        <div class="card-body"  style="margin: 0 auto;">
            <h5 class="card-header bg-warning rounded" style="margin-bottom: 30px;">Курсовой проект</h5>
            <div class="card-text">
                Текст 1
                <div>
                    Текст 2
                </div>
                <div>
                    Текст 3
                </div>


            <div class="bg-white rounded shadow">
                <img src="assets/images/architecture.png" style="width: 100%;"/>
             </div> 
             </div>
            </div>
        </div>
    </div>
</div>

