<div style="width: 90%; margin: 0 auto;">
    <div class="card shadow p-5 lg-8 bg-white rounded" style="margin: 20px;">
        <div class="col-sm-12">
        <div class="card-body"  style="margin: 0 auto;">
            <h5 class="card-header bg-warning rounded" style="margin-bottom: 30px;">Домашнее задание подключения к собственному API</h5>
            <div class="card-text">
                Подключение к моему API серверу, расположенному на хостинге. Сервер будет являться частью курсового проекта по Веб технологии.
                <div>
                    Сервер применялся для курсового проекта по .NET.
                </div>
                <div>
                    Общая архитектура курсового проекта по технологии .NET:
                </div>


            <div>
                <img src="assets/images/architecture.png" style="width: 100%;"/>
             </div> 
             </div>
            </div>
        </div>
    </div>
</div>

