<div class="minheight" style="width: 90%; margin: 0 auto;">
    <div class="card shadow p-5 lg-8 card-gradient rounded textData" style="margin: 20px;">
        <div class="col-sm-12">
        <div class="card-body"  style="margin: 0 auto;">
            <h5 class="card-header titleBackground rounded" style="margin-bottom: 30px; text-align: center;">Calculate conveyor</h5>
            <div class="card-text">
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;На различных предприятиях конвейеры нашли широкое применение, 
                    так как позволяют транспортировать практически любые виды грузов 
                    (кроме жидких) в горизонтальном и наклонном направлениях, реализовать 
                    разнообразные схемы транспортных операций. Широкое использование 
                    ленточных конвейеров связано с тем, что они просты по конструкции 
                    и в эксплуатации, надежны в работе, экономичны, имеют широкий 
                    диапазон производительности.
                </div>
                
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;Ленточные конвейеры состоят из следующих 
                    основных узлов: тягового элемента (ленты), совмещающего функции 
                    несущего (рабочего) элемента; опорных устройств в виде стационарных 
                    роликовых опор или жесткого настила; приводного устройства, состоящего 
                    из электродвигателя, передаточного механизма и приводного барабана; 
                    натяжного устройства (винтового или грузового); загрузочных и разгрузочных 
                    устройств; станины, на которой крепят все узлы конвейера. Рассмотрим 
                    некоторые из схем ленточных конвейеров, применяемых на зерноперерабатывающих 
                    предприятиях.
                </div>
                <div>
                    Текст 3
                </div>


            <div class="bg-white rounded shadow">
                <img src="assets/images/architecture.png" style="width: 100%;"/>
             </div> 
             </div>
            </div>
        </div>
    </div>
</div>

