<!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.8)">
  <a class="navbar-brand" routerLinkActive="active" aria-current="page" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
    <img src="assets/images/logo.webp" width="70" height="70" class="d-inline-block align-top" alt="">
    
  </a>
  <div class="" id="navbarSupportedContent">
    <app-menu></app-menu>
  </div>
</nav>-->


    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <h2 class="logo"> 
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Calculate conveyor <span class="sr-only"></span></a>
        </h2>
        <ul>
            <li><a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Главная <span class="sr-only"></span></a></li>
            <li><a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/allengines" [routerLinkActiveOptions]="{exact: true}">Мотор-редукторы<span class="sr-only"></span></a></li>
            <li><a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/allbelts" [routerLinkActiveOptions]="{exact: true}">Ленты<span class="sr-only"></span></a></li>
            <li><a href="#5">Пять</a></li>
            <li><a href="#6">Шесть</a></li>
            <li><a href="#7">Семь</a></li>
        </ul>
    </nav>




