<form [formGroup]="form" (ngSubmit)="submit()" class="minheight">
    <div style="width: 600px; margin: 0 auto;">
        <div class="card shadow p-5 lg-8 bg-white rounded card-gradient textData" style="margin: 20px;">
            <div class="card-body" style="margin: 0 auto;">
                <div>
                    <h5 class="card-header bg-success rounded" style="margin-bottom: 30px; text-align: center;">Добавление ленты</h5>

                    <div style="margin-bottom: 20px;">
                        <label>Тип ленты</label>

                        <div style="margin-top: 15px">
                            <select formControlName="belttype" class="form-select">
                                <option *ngFor="let beltType of beltTypes" value="{{beltType.id}}">{{beltType.type}}</option>
                            </select>
                          </div>
                      </div>

                      <div style="margin-bottom: 20px;">
                        <label>Полное наименование ленты</label>
                        <div style="margin-top: 15px">
                            <input type="text" placeholder="Наименование ленты" formControlName="name" class="form-control">
                                <div appMyDirective *ngIf="this.form.controls['name'].invalid && this.form.controls['name'].touched" class="validation">
                                    <div><small *ngIf="this.form.controls['name'].errors?.['maxlength']">Наименование не может превышать 50 символов</small></div>
                                    <div><small *ngIf="this.form.controls['name'].errors?.['minlength']">Наименование не может быть менее 3 символов</small></div>
                            </div>
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6" style="margin-bottom: 20px;">
                          <label>Цена за м2</label>
                          <input type="number" placeholder="Введите цену" formControlName="cost" class="form-control">
                          <div appMyDirective *ngIf="this.form.controls['cost'].invalid && this.form.controls['cost'].touched" class="validation">
                              <div><small *ngIf="this.form.controls['cost'].errors?.['required']">Поле не может быть пустым</small></div>
                              <div><small *ngIf="this.form.controls['cost'].errors?.['min']">Цена не может быть меньше 10 </small></div>
                          </div>
                        </div>
  
                        <div class="col-sm-6" style="margin-bottom: 20px">
                          <label>Валюта</label>
                          <select formControlName="course" class="form-select">
                            <option *ngFor="let course of courses" value="{{course.sale}}" selected="getIsSelected(course.ccy)">{{course.ccy}}</option>
                          </select>
                        </div>
                      </div>

                </div>
                <button class="btn btn-success" style="margin-right: 70px;" [disabled]="form.invalid" type="submit">Сохранить изменения</button>
                <button type="button" (click)="redirectToAllBelts()" class="btn btn-outline-light" style="margin: 10px; width: 150px;">Отмена</button>
            </div>
        </div>
    </div>
</form>