<div class="center-data minheight" style="width: 480px;">

    <div class="card rounded shadow card-gradient pointer" style="margin-top: 15px; margin-bottom: 15px;" (click)="calcStraight()">
        <div class="card-body">
          <h5 class="card-header header-bg rounded textData" style="margin-bottom: 30px; text-align: center;">Расчет прямого конвейера</h5>
  
            <div style="margin-top: 15px">
              <img src="assets/images/straightconv.png" alt="conveyor" class="marginauto">
            </div>
        </div> 
    </div>
</div>
