<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Главная <span class="sr-only"></span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/all" [routerLinkActiveOptions]="{exact: true}">Все мотор-редукторы <span class="sr-only"></span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/add" [routerLinkActiveOptions]="{exact: true}">Добавить мотор-редуктор<span class="sr-only"></span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/about" [routerLinkActiveOptions]="{exact: true}">О сайте <span class="sr-only"></span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/author" [routerLinkActiveOptions]="{exact: true}">Об авторе <span class="sr-only"></span></a>
  </li>
</ul>