<form [formGroup]="form" (ngSubmit)="submit()" class="minheight">
    <div style="width: 600px; margin: 0 auto;">
        <div class="card shadow p-5 lg-8 bg-white rounded card-gradient textData" style="margin: 20px;">
            <div class="card-body" style="margin: 0 auto; width: 450px;">
                <div>
                    <h5 class="card-header bg-success rounded" style="margin-bottom: 30px; text-align: center;">Вход в систему</h5>

                    <div style="margin-bottom: 20px;">
                        <label>Email</label>
                        <input id="email" type="email" placeholder="Введите электронную почту" formControlName="email" class="form-control">
                        <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="validation">
                          <span *ngIf="form.controls['email'].errors?.['required']">Email не должен быть пустым</span>
                          <span *ngIf="form.controls['email'].errors?.['email']">Введите корректный email адрес</span>
                        </div>
                    </div>
  
  
                    <div style="margin-bottom: 20px;">
                      <label>Пароль</label>
                      <input id="password" type="password" placeholder="Введите пароль" formControlName="password" class="form-control">
                      <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" class="validation">
                        <span *ngIf="form.controls['password'].errors?.['required']">Пароль не должен быть пустым</span>
                        <span *ngIf="form.controls['password'].errors?.['minlength'] && form.controls['password'].errors?.['minlength']['requiredLength']">
              Пароль не может быть меньше {{form.controls['password'].errors?.['minlength']['requiredLength']}} символов.
              Сейчас {{form.controls['password'].errors?.['minlength']['actualLength']}}
            </span>
          </div>  


                </div>
                <button class="btn btn-success" style="margin-right: 70px;" [disabled]="form.invalid || form.disabled" type="submit">Войти</button>
                
            </div>
        </div>
    </div>
    </div>
</form>
