.center-data {
    margin: 0 auto;
}



body{
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to right, rgba(21, 48, 58, 0.8), rgba(26, 22, 21, 1));
}

.card-gradient{
    background: rgba(21, 48, 58, 0.8); /* Для старых браузеров */
    background: linear-gradient(to bottom right, rgba(21, 48, 58, 0.8), rgba(26, 22, 21, 1));
}

.minheight{
    min-height: calc(100vh - 71px);
}

small{
    color: red;
}

.textData{
    margin: 10px 10px 10px 5px;
    color: white;
}