<div class="center-data minheight" style="width: 480px;">

    <div class="card rounded shadow card-gradient" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="card-body">
            <h5 class="card-header bg-info rounded textData" style="margin-bottom: 30px; text-align: center;">Типы лент</h5>
          <div class="textData"><button (click)="addNewBeltType()" class="btn btn-outline-info shadow greenButton" style="margin: 10px;">Добавить новый тип ленты</button></div>
  
            <div style="margin-top: 15px">
              <img src="assets/images/belttype.png" alt="belt" class="marginauto">
            </div> 
        </div> 
        
          
    </div>   
    
    <div *ngFor="let beltType of beltTypes">
      <div class="card rounded card shadow card-gradient" style="margin-bottom: 15px;">
          <div class="card-body">
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
              <div class="textData">
                <h5 class="card-title fixedTextWidth">{{beltType.type}}</h5>
              </div>
              <div class="textData"><button (click)="editBeltType(beltType.id)" class="btn btn-outline-info shadow greenButton" style="margin: 10px;">Изменить</button></div>
              <div class="textData"><button (click)="deleteBeltType(beltType.id, beltType.type)" class="btn btn-info shadow" style="margin: 10px;">Удалить</button></div> 
            </div>
          </div>

    </div>
  </div>

</div>